/.idea/.gitignore
/.idea/markdown.xml
/.idea/Markdown Style Sheet Github Flavor.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/Screenshots/Pixelmator/Screenshot 1 DT Main text with TOC.png
/Screenshots/Pixelmator/Screenshot 1 DT Main text with TOC.pxd
/Screenshots/Pixelmator/Screenshot 2 DT Text.png
/Screenshots/Pixelmator/Screenshot 2 DT Text.pxd
/Screenshots/Pixelmator/Screenshot 3 DT Images.png
/Screenshots/Pixelmator/Screenshot 3 DT Images.pxd
/Screenshots/Pixelmator/Screenshot 4 DT Tables.png
/Screenshots/Pixelmator/Screenshot 4 DT Tables.pxd
/Screenshots/Pixelmator/Screenshot 5 DT Tables.png
/Screenshots/Pixelmator/Screenshot 5 DT Tables.pxd
/Screenshots/Pixelmator/Screenshot 6 DT Equations and Syntax Highlighting.png
/Screenshots/Pixelmator/Screenshot 6 DT Equations and Syntax Highlighting.pxd
/Screenshots/Pixelmator/Screenshot 7 DT Footbotes.png
/Screenshots/Pixelmator/Screenshot 7 DT Footbotes.pxd
/.idea/vcs.xml
/Screenshots/Pixelmator/
